svg {
    width: 13vw;
    margin: 39vh auto;
    display: block;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    z-index: 10000;
    position: fixed;
    background-color: #14171a;
    width: 100%;
    height: 100vh;
}

.outer {
    fill-opacity: 0;
    stroke-dasharray: 250;
    stroke-dashoffset: 50;
    animation: dash 4.5s linear infinite;
    filter: url(#glow);
}

.inner {
    fill-opacity: 0;
    stroke-dasharray: 150;
    stroke-dashoffset: 50;
    animation: dash 5.5s linear infinite;
    filter: url(#glow);
}

@keyframes dash {
    from {
        stroke-dashoffset: 4500;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@media only